.slider{
    padding-top: 5vh;
}

.carousel-caption {
    top: 0;
}

.overlay-img {
    filter: brightness(45%);
}


/* media queries used only to control some custom requirements */

/* small device */
@media only screen and (max-width: 576px) {

    /* to divide course row into column for phone */
    .phone {
        display: flex !important;
        flex-direction: column !important;    
    }

    .image {
        width: 100%;
    }
/* company section hides for phone */
    .desktop-only {
        display: none;
    }

    .header-title {
        font-size: 18px;
        padding-top: 15vh;

    }
    .header-title-2 {
        font-size: 18px;

    }

    .header-paragraph {
        font-size: 10px;
    }
    /* slider button controlling */
    .btn-lg{
        visibility: hidden;
    }
    .btn-md{
        visibility: hidden;
    }
    .overlay-img {
        height: 35vh !important;
    }


}


/* tablet device */
@media only screen and (min-width: 577px) and (max-width:993px) {
    .header-title { 
        padding-top: 15vh;
    }
    /* company section hides for tablet */
    .desktop-only {
        display: none;
    }

    /* slider button controlling */
    .btn-lg{
        visibility: hidden;
    }
    .btn-sm{
        visibility: hidden;
    }
    .btn-md{
        margin-top: -2vh;
    }
    

}




/* large device */
@media only screen and (min-width: 994px) {
    /* accrodion shriking */
    .accordion {
        padding-left: 200px;
        padding-right: 200px;
    }

    .header-title {
        font-size: 8vh;
    }

    .header-title-2 {
        font-size: 8vh;
        padding-bottom: 20px;
    }
    
    /* slider button controlling */
    .btn-md {
        visibility: hidden;
        /* display: none; */
    }

    .btn-sm {
        visibility: hidden;
        /* display: none; */


    }
    .btn-lg{
        margin-top: -7vh;
    }
    .desktop{
        margin-left: -55vh;
    }

}

